<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>QuarkBlob</title>
    <link href="{% static
        'base/vendor/normalize/normalize.css' %}" rel="styl\
        esheet">
        <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.1.0/\
        css/all.css" integrity="sha384-
        lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4lta\
        BwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?
        family=Open+Sans:300,400,600\
        " rel="stylesheet">
        <link rel="stylesheet" href="{% static
        'base/css/style.css' %}">
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>